body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWUM05tAFHICF5xeJPBp4o2ueCoRBxJ4Z5hw&usqp=CAU');
    background-size: 100% 100%;
}
.calculator {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
}

#display {
    font-size: 24px;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    text-align: right;
    box-sizing: border-box;
    border-radius: 3px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    font-size: 20px;
    padding: 10px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
}

button:hover {
    background-color:#ddd;
}